<header>
  <div class="header-bar">
    <div class="application-title">
      AjaxApp
    </div>
    <div class="header-bottun">
      <div class="signin-bottun">
        サインイン
      </div>
      <div class="signup-bottun">
        サインアップ
      </div>
    </div>
  </div>
</header>